* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  text-align: center;
}

.welcome h1, .welcome h2, .welcome h3, .welcome h4, .welcome h5, .welcome h6{
  margin-top: 20px;
}

.board {
  width: 700px;
  height: 600px;
  margin: auto;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 4px solid black;
}

.box {
  border: 1px solid black;
  position: relative;
}

.box:hover {
  cursor: pointer;
}

button {
  position: absolute;
  top: 0;
  left: 58.891px;
  font-size: 10rem;
  border: none;
  background: transparent;
  color: black;
}

label {
  z-index: 1;
  font-size: 6rem;
  color: red;
  visibility: hidden;
}

.winMsg {
  display: flex;
  justify-content: center;
}

#labelx {
  z-index: 1;
}

#labelo {
  z-index: 2;
}

.reset {
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}

.reset input {
  margin-top: 20px;
  padding: .5rem 2rem; 
}