* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/background.jpg) repeat scroll;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.welcome {
  text-align: center;
}

.welcome h1, .welcome h2, .welcome h3, .welcome h4, .welcome h5, .welcome h6{
  margin-top: 20px;
}

.board {
  width: 700px;
  height: 600px;
  margin: auto;
  margin-top: 4vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box {
  border: 4px solid #0783B8;
  position: relative;
}

.box:hover {
  cursor: pointer;
}

button {
  position: absolute;
  top: 0;
  left: 58.891px;
  font-size: 10rem;
  border: none;
  background: transparent;
}

label {
  z-index: 1;
  font-size: 4rem;
  color: cornflowerblue;
  visibility: hidden;
}

.winMsg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 2.5rem;
}

.reset {
  text-align: center;
  margin-top: 20px;
}

.reset input {
  margin-top: 20px;
  padding: 1rem 5rem; 
  font-size: 1rem;
}

.reset input:hover {
  cursor: pointer;
}

#box1 {
  border-top: none;
  border-left: none;
}

#box2 {
  border-top: none;
}

#box3 {
  border-top: none;
  border-right: none;
}

#box4 {
  border-left: none;
}

#box6 {
  border-right: none;
}

#box7 {
  border-left: none;
  border-bottom: none;
}

#box8 {
  border-bottom: none;
}

#box9 {
  border-right: none;
  border-bottom: none;
}

@media (max-width: 468px) {
  .board {
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
  }

  .welcome {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 700px;
  }

  .reset {
    text-align: center;
    margin-left: 245px;
    margin-top: 50px;
  }

  .reset input {
    margin-top: 20px;
    padding: 1rem 4rem; 
    font-size: 2rem;
  }

  .winMsg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 700px;
    text-align: center;
  }

  label {
    font-size: 3rem;
  }
}

@media (max-width: 680px) and (min-width: 469px) {
  .board {
    width: 600px;
    margin-left: 50px;
    margin-top: 50px;
  }

  .welcome {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 700px;
  }

  .reset {
    text-align: center;
    margin-left: 245px;
    margin-top: 50px;
  }

  .reset input {
    margin-top: 20px;
    padding: 1rem 4rem; 
    font-size: 2rem;
  }

  .winMsg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 700px;
    text-align: center;
  }

  label {
    font-size: 3rem;
  }
}

@media (max-width: 768px) and (min-width: 681px) {
  .winMsg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  label {
    font-size: 2.5rem;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .winMsg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  label {
    font-size: 2.5rem;
  }
}

@media (max-width: 1440px) and (min-width: 1025px) {
  .winMsg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  label {
    font-size: 3.5rem;
  }
}